@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-add34:before {
	content: "\e000";
}
.flaticon-arrows1:before {
	content: "\e001";
}
.flaticon-button46:before {
	content: "\e002";
}
.flaticon-cancel28:before {
	content: "\e003";
}
.flaticon-center15:before {
	content: "\e004";
}
.flaticon-close6:before {
	content: "\e005";
}
.flaticon-cogs3:before {
	content: "\e006";
}
.flaticon-computer1:before {
	content: "\e007";
}
.flaticon-cross-mark1:before {
	content: "\e008";
}
.flaticon-forward11:before {
	content: "\e009";
}
.flaticon-games33:before {
	content: "\e00a";
}
.flaticon-gears10:before {
	content: "\e00b";
}
.flaticon-home168:before {
	content: "\e00c";
}
.flaticon-house158:before {
	content: "\e00d";
}
.flaticon-joystick4:before {
	content: "\e00e";
}
.flaticon-media26:before {
	content: "\e00f";
}
.flaticon-multiple25:before {
	content: "\e010";
}
.flaticon-no-entry:before {
	content: "\e011";
}
.flaticon-pause18:before {
	content: "\e012";
}
.flaticon-pause44:before {
	content: "\e013";
}
.flaticon-play109:before {
	content: "\e014";
}
.flaticon-play48:before {
	content: "\e015";
}
.flaticon-power17:before {
	content: "\e016";
}
.flaticon-power27:before {
	content: "\e017";
}
.flaticon-power39:before {
	content: "\e018";
}
.flaticon-right246:before {
	content: "\e019";
}
.flaticon-search19:before {
	content: "\e01a";
}
.flaticon-servers1:before {
	content: "\e01b";
}
.flaticon-settings20:before {
	content: "\e01c";
}
.flaticon-social24:before {
	content: "\e01d";
}
.flaticon-speedometer10:before {
	content: "\e01e";
}
.flaticon-speedometer26:before {
	content: "\e01f";
}
.flaticon-update17:before {
	content: "\e020";
}
.flaticon-user168:before {
	content: "\e021";
}
