$body-color: #E4F1FE !default;
$front-color: #22313F !default;
$anchor-color: #2980b9 !default;
$anchor-hover-color: #22313F !default;

$topbar-height: 66px !default;

$navbar-width: 260px !default;
$navbar-background: #263238 !default;

$navbar-menu-padding: 10px !default;
$navbar-menu-bottom-height: 76px !default;
$navbar-menu-bottom-background: #21292e !default;
$navbar-menu-bottom-color: #76838f !default;
$navbar-menu-bottom-hover-background: #1e2427 !default;
$navbar-menu-bottom-hover-color: #76838f !default;
$navbar-item-height: 46px !default;
$navbar-item-padding: 0 24px !default;
$navbar-item-active-background: #242f35 !default;
$navbar-item-active-color: #f3f3f3 !default;
$navbar-item-category-margin-top: 20px !default;
$navbar-item-category-font-size: 15px !default;
$navbar-item-category-padding: 0 24px !default;
$navbar-item-color: #76838f !default;
$navbar-item-hover-background: #2A363C !default;
$navbar-item-category-color: $navbar-item-color !default;
$navbar-item-category-text-transform: uppercase !default;
$navbar-icon-margin-right: 10px !default;
$navbar-icon-font-size: 18px !default;
$navbar-icon-bottom-font-size: 24px !default;

$logo-color: #FFFFFF !default;
$logo-background: #2980b9 !default;

$infobar-background: #FFFFFF !default;
$infobar-name-border: 1px solid #76838E !default;
$infobar-name-color: #76838E !default;
$infobar-name-padding: 0 25px !default;
$infobar-link-margin-left: 10px !default;
$infobar-link-font-size: 24px !default;

$topbar-padding: 10px !default;

$content-padding: 30px !default;
$content-item-background: #FFFFFF !default;
$content-item-border-radius: 3px !default;
$content-item-padding: 20px !default;

$notice-padding: 20px !default;
$notice-margin-bottom: 20px !default;
$notice-background: #FFFFFF !default;
